<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"  style="background: #5f2c82;  
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  
background: linear-gradient(to right, #49a09d, #5f2c82); ">
    

    <div class="col order-first">
      <button type="button" class="btn btn-lg"  style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:xx-large" routerLink='/admin/manageprod'>Shop24x7</button>
      <!-- <button type="button" class="btn btn-lg"  style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: grey;" routerLink='/admin'>Admin Dashboard</button> -->
      <button type="button" class="btn btn-lg"  style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: rgb(0, 0, 0);" routerLink='/admin/addprod'>Add Product</button>
      <button type="button" class="btn btn-lg"  style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: rgb(0, 0, 0);" routerLink='/admin/vieworders'>View Orders</button>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input (keyup)="onKeyUpEvent($event)" class="form-control mr-sm-2" id="searchstring" name="searchstring" [(ngModel)]="this.searchstring" placeholder="Search"/>
      </form>&nbsp;&nbsp;

<!-- <button type="button" class="btn btn-primary" style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: grey;" (click)="gotoCheckout()">Cart</button> -->
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" style="background-color: transparent; border-color: transparent; box-shadow: none; font-size:x-large; color: black;" aria-expanded="false">
      {{customer_name}}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <!-- <a class="dropdown-item" routerLink='/postloginhome/profile'>Profile</a>
        <a class="dropdown-item" routerLink='/postloginhome/settings'>Settings</a> -->
        <a class="dropdown-item" (click)='logout()'> Logout</a>
        <a class="dropdown-item" routerLink='/admin/vieworders'>View Orders</a>
    </div>
</div>
</header>


<div class="container">
    <main>
        <br>
        <div class="py-5 text-center" style="color: black;">
            <h1 style="font-size: xx-large;"><u>PRODUCTS</u></h1>
        </div>
        <div class="row g-5" style="margin-right: 5px; margin-left: 5px;">
          
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                        <div *ngFor="let product of updatedProducts">
                        
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src={{product.image}}>
    
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Product Name</th>
                                            <td>{{ product.name}}</td>
                                        </tr>
                                        <tr>
                                            <th>Product Price</th>
                                            <td>{{ product.price | currency:'EUR'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Product discounted price</th>
                                            <td>{{ product.discountPrice | currency:'EUR'}}</td>
                                        </tr>
                                        <tr>
                                            <th>Product category</th>
                                            <td>{{ product.category}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-primary" [routerLink]="['/admin/manageprod/edit',product._id]">Edit Product</a>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-sm btn-outline-danger" (click)="deleteProduct(product._id)">Delete</button>
                                    </div>
                                    <!-- <small class="text-muted">9 mins</small> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    </div>